@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 14px 18px 14px 18px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  cursor: pointer;
}
#hero {
  height: 615px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 685px;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14px;
}
#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}

#card-box {
  width: 884px;
  margin: 100px auto;
}
#card-box .info {
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
.card-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: Work Sans;
}
.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card .image-box {
  width: 250px;
}
.card .image-box img {
  width: 100%;
}
.card .shop {
  background-color: aqua;
  padding: 10px 18px 10px 18px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}


/* start about section */
#about-us {
  height: 440px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.follow-us-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-us-container > .textarea{
  width: 100%;
  height: 245px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.textarea h1{
  font-size: 2rem;
}

#about-us .image-container {
  width: 50%;
}

#about-us .image-container img {
  width: 100%;
  border-radius: 8px;
}

#about-us .follow-us-container {
  width: 50%;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: auto;
  padding: 20px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
}

.fa-facebook {
  color: #008aff;
}

.fa-twitter {
  color: #379edd;
}

.fa-instagram {
  color: #E1306C;
}

.fa-pinterest {
  color: #E60023;
}

.social-icons i {
  font-size: 40px;
}




/* responsive for mobile */
@media (max-width: 576px) { 
  #hero .hero-content {
    width: 100%;
}
#card-box {
  width: 100%;
  margin: 25px auto;
}
.card {
  width: 100%;
}
.card .image-box {
  width: 95%;
}
.card .image-box img {
  max-width: 100%;
}
.card-container {
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}
#about-us {
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#about-us .image-container {
  width: 80%;
}
#about-us {
  height: 440px;
  display: flex;
  margin-top: 60px;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 }